.home-page
  background-color #E00024
  .poster
    width 100%
    display block
    
  .introduction
    padding 20px
    background #fff
    
    .introduction-text
      overflow hidden
      line-height: 32px
      background-image url(http://wanliu-piano.b0.upaiyun.com/uploads/shop/logo/102/10878c70971d070b840b98951fd0ee53.jpg)
      background-repeat repeat
      
      .introduction-item 
        margin-bottom 32px
        
        b 
          float left
          
        .indent
          margin-left 70px
          
        &:last-child
          margin-bottom 0

    > img
      display block
      width 100%
    
      indent
      text-indent 2rem
      margin-bottom 0.6rem
   
    .start-end-time
      text-align center

    .signup-container
      text-align center
      margin-top 20px
      
    .signup-count
      text-align center

#down-arrow
  position absolute
  right 10px
  bottom 50px
  width 60px
  animation arrow .8s infinite
  z-index 13
    
@keyframes arrow
  0%
    transform translateY(0)
  30%
    transform translateY(30px)
  100%
    transform translateY(0)
